
        <div id="footer">
          <div class="inner">
            <div class="lists">
              <dl>
                <dt><span>About</span></dt>
                <dd>
                  <a href="https://glitchy-scratch.github.io/about"><span>About Scratch</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/parents/"><span>For Parents</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/educators"><span>For Educators</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/developers"><span>For Developers</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/credits"><span>Credits</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.ioopportunities"><span>Jobs</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.iomedia-kit/"><span>Press</span></a>
                </dd>
                <dd>
                  <div><a> Mystery </a></div>
                </dd>
              </dl>
              <dl>
                <dt><span>Community</span></dt>
                <dd>
                  <a href="https://glitchy-scratch.github.io/community_guidelines"><span>Community Guidelines</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/discuss/"><span>Discussion Forums</span></a>
                </dd>
                <dd>
                  <a href="https://en.scratch-wiki.info/"><span>Scratch Wiki</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/statistics/"><span>Statistics</span></a>
                </dd>
              </dl>
              <dl>
                <dt><span>Support</span></dt>
                <dd>
                  <a href="https://glitchy-scratch.github.io/ideas"><span>Ideas</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/info/faq"><span>FAQ</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/download"><span>Download</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/contact-us/"><span>Contact Us</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/store"><span>Scratch Store</span></a>
                </dd>
                <dd>
                  <a href="glitchy-scratch.github.io"><span>Donate</span></a>
                </dd>
              </dl>
              <dl>
                <dt><span>Legal</span></dt>
                <dd>
                  <a href="https://glitchy-scratch.github.io/terms_of_use"><span>Terms of Use</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/privacy_policy"><span>Privacy Policy</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/DMCA"><span>DMCA</span></a>
                </dd>
              </dl>
              <dl>
                <dt><span>Scratch Family</span></dt>
                <dd>
                  <a href="http://glitchy-scratch.github.io/"><span>ScratchEd</span></a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io"><span>ScratchJr</span></a>
                </dd>
                <dd>
                  <a href="https://day.glitchy-scratch.github.io/">Scratch Day</a>
                </dd>
                <dd>
                  <a href="https://glitchy-scratch.github.io/conference"><span>Scratch Conference</span></a>
                </dd>
                <dd>
                  <a href="http://glitchy-scratch.github.io/"><span>Scratch Foundation</span></a>
                </dd>
              </dl>
            </div>
            <form class="language-chooser" novalidate="">
              <div class="select">
                <div class="form-group row">
                  <label class="control-label col-sm-3" data-required="true" for="frc-language-1088"
                    ><span class="required-symbol"> *</span></label
                  >
                  <div class="col-sm-9">
                    <select class="form-control" required="" name="language" id="frc-language-1088">
                      <option value="ab">Аҧсшәа</option>
                      <option value="ar">العربية</option>
                      <option value="am">አማርኛ</option>
                      <option value="az">Azeri</option>
                      <option value="id">Bahasa Indonesia</option>
                      <option value="be">Беларуская</option>
                      <option value="bg">Български</option>
                      <option value="ca">Català</option>
                      <option value="cs">Česky</option>
                      <option value="cy">Cymraeg</option>
                      <option value="da">Dansk</option>
                      <option value="de">Deutsch</option>
                      <option value="et">Eesti</option>
                      <option value="el">Ελληνικά</option>
                      <option value="en">English</option>
                      <option value="es">Español</option>
                      <option value="es-419">Español Latinoamericano</option>
                      <option value="eu">Euskara</option>
                      <option value="fa">فارسی</option>
                      <option value="fr">Français</option>
                      <option value="ga">Gaeilge</option>
                      <option value="gd">Gàidhlig</option>
                      <option value="gl">Galego</option>
                      <option value="ko">한국어</option>
                      <option value="he">עִבְרִית</option>
                      <option value="hr">Hrvatski</option>
                      <option value="zu">isiZulu</option>
                      <option value="is">Íslenska</option>
                      <option value="it">Italiano</option>
                      <option value="ka">ქართული ენა</option>
                      <option value="sw">Kiswahili</option>
                      <option value="ht">Kreyòl ayisyen</option>
                      <option value="ku">Kurdî</option>
                      <option value="ckb">کوردیی ناوەندی</option>
                      <option value="lv">Latviešu</option>
                      <option value="lt">Lietuvių</option>
                      <option value="hu">Magyar</option>
                      <option value="mi">Māori</option>
                      <option value="nl">Nederlands</option>
                      <option value="ja">日本語</option>
                      <option value="ja-Hira">にほんご</option>
                      <option value="nb">Norsk Bokmål</option>
                      <option value="nn">Norsk Nynorsk</option>
                      <option value="uz">Oʻzbekcha</option>
                      <option value="th">ไทย</option>
                      <option value="km">ភាសាខ្មែរ</option>
                      <option value="pl">Polski</option>
                      <option value="pt">Português</option>
                      <option value="pt-br">Português Brasileiro</option>
                      <option value="rap">Rapa Nui</option>
                      <option value="ro">Română</option>
                      <option value="ru">Русский</option>
                      <option value="sr">Српски</option>
                      <option value="sk">Slovenčina</option>
                      <option value="sl">Slovenščina</option>
                      <option value="fi">Suomi</option>
                      <option value="sv">Svenska</option>
                      <option value="vi">Tiếng Việt</option>
                      <option value="tr">Türkçe</option>
                      <option value="uk">Українська</option>
                      <option value="zh-cn">简体中文</option>
                      <option value="zh-tw">繁體中文</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="donor">
          <div id="donor-text">
            <div>
              <span
                >Scratch is available for free thanks to generous support from our
                <a href="https://glitchy-scratch.github.io/credits#donors"><span>donors</span></a
                >. We are grateful to our Founding Partners:</span
              >
            </div>
            <div>
              <span
                >Massachusetts Institute of Technology, National Science Foundation, and Siegel Family Endowment.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="./Glitchy Scratch_files/splash.intl.js"></script>
    <script src="./Glitchy Scratch_files/splash.bundle.js"></script>
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>

    <!-- Translate title element -->

    <script>
      var loc = window._locale || "en";
      if (typeof window._messages !== "undefined" && loc !== "en") {
        if (typeof window._messages[loc] === "undefined") {
          loc = loc.split("-")[0];
        }
        if (typeof window._messages[loc] !== "undefined") {
          var localizedTitle = window._messages[loc]["general." + "Imagine, Program, Share".toLowerCase()] || "";
          if (localizedTitle.length > 0) {
            document.title = "Scratch - " + localizedTitle;
          }
        }
      }
    </script>

    <div style="color: #fff">;</div>

    <script>
      setInterval(() => {
        function messUpWord(word) {
          if (word.length < 4) return word;
          var index1 = getRandomInt(1, word.length - 3),
            index2 = getRandomInt(index1 + 1, word.length - 2);
          return swap(word, index1, index2);
        }
        function swap(word, index1, index2) {
          if (index1 == index2) return word;
          var a = Math.min(index1, index2),
            b = Math.max(index1, index2);
          return word.slice(0, a) + word[b] + word.slice(a + 1, b) + word[a] + word.slice(b + 1);
        }
        function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1) + min);
        }
        elem = document.body;
        while (elem.children[0]) {
          elem = elem.children[Math.floor(Math.random() * elem.children.length)];
        }
        elem.innerText = messUpWord(elem.innerText);
      }, 300);
    </script>
